@model IEnumerable<ConferenceRoomsScheduler.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>All reservations of Conference Room @TempData["roomId"]</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateAndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateAndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDateAndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDateAndTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
